@{
    ViewData["Title"] = "Home Page";
}
<div class="container">
    <div class="row">
        <div class="col-6">
            <form id="loginForm">
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" name="username" class="form-control" id="username" aria-describedby="usernameHelp">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" name="password" class="form-control" id="password">
                </div>
                <button onclick="LogIn(this)" type="button" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>

<div class="position-fixed top-50 start-0 translate-middle-y" style="z-index: 11">
    <div id="toastResult" class="toast hide text-white" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <strong class="me-auto">Bootstrap</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Закрыть"></button>
        </div>
        <div class="toast-body">
            Привет, мир! Это тост-сообщение.
        </div>
    </div>
</div>

@section Scripts
    {
    <script>
        function LogIn() {
            const form = document.getElementById("loginForm");
            let options = {
                method: 'POST',
                headers: {},
                body: new FormData(form)
            };
            fetch('Home/LogIn', options)
                .then(response => response.json())
                .then(data => {
                    let status = '';
                    let heading = '';
                    let text = '';

                    if (!data.ResultCode) {
                        heading = 'bg-success'
                        status = "Success"
                        text = `
                                        Address: ${data.Address},
                                        City: ${data.City},
                                        Company: ${data.Company},
                                        FirstName: ${data.FirstName},
                                        LastName: ${data.LastName},
                                        Mobile: ${data.Mobile},
                                    `;
                    }
                    else if (data.ResultCode === -1) {
                        heading = 'bg-danger'
                        status = "Error"
                        text = data.ResultMessage;
                    }

                    let toast = document.querySelector("#toastResult");
                    toast.classList.remove("bg-success");
                    toast.classList.remove("bg-danger");
                    toast.classList.replace("show", "hide");
                    toast.querySelector(".me-auto").textContent = status;
                    toast.querySelector(".toast-body").textContent = text;
                    toast.classList.add(heading);
                    toast.classList.replace("hide", "show");

                    setTimeout(() => {
                        toast.classList.replace("show", "hide");
                    }, 3000);
                });
        }
    </script>
}
